nav .brand-logo {
    padding-left: 10px;
}

nav ul {
    margin-right: 5px;
}

nav .btn {
    margin-right: 5px;
}

.message-form {
    height: 76px;
}

.full-h {
    height: 100%;
}

.full-w {
    width: 100%;
}

.log {
    overflow-wrap: break-word;
}

.comment-time {
    font-size: 0.8em;
}